* text=auto eol=lf
*.ts linguist-detectable=true
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.js linguist-detectable=false
*.vue linguist-detectable=true
*.sh linguist-detectable=false