.DS_Store
node_modules/
dist/
CONTRIBUTING.md
npm-debug.log
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
test/unit/coverage
test/e2e/reports
selenium-debug.log
build/



# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
