@use 'mixins/mixins' as *;
@use 'common/color' as *;

@include b(bread) {
  display: flex;
  padding: 25px 10px;
  &-item {
    a {
      color: #666;
      transition: all .4s;
      &:hover {
        color: #6565bc;
      }
    }
  }
    i{
     font-size: 11px;
     margin-left: 5px;
     margin-right: 5px;
     margin-top: 2px;
     line-height: 22px;
  }
}