@use 'sass:math';

@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(collapse) {
    
  width: 50em;
  padding: 0.5em;
  height: fit-content;
  border: 1px solid rgb(175, 169, 169);
  
  background-color: white;

  transition: all 0.4s;

  @include b(collapse-ul) {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

}

[class^='#{$namespace}-collapse-title'] {
    height: 50px;
    line-height: 50px;
    margin-top: 1em;
    padding-left: 10px;
    border-top: 0.2px solid #c0c0c1;
    border-bottom: 0.2px solid #c0c0c1;
    background: white;
    
    
    cursor: pointer;
    
      
  }

[class^='#{$namespace}-collapse-content'] {
 
    background: white;
    color: $color-info;

}

