@use 'sass:math';

@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(collapse) {
    
  width: 50em;
  padding: 0.5em;
  height: max-content;
  border: 1px solid rgb(175, 169, 169);
  
  background-color: white;

  transition: all 0.4s;
  
  @include b(collapse-ul) {
      list-style-type: none;
      margin: 0;
      padding: 0;

  }

}

[class^='#{$namespace}-collapse-title'] {
    height: 50px;
    line-height: 50px;
    margin-top: 1em;
    padding-left: 10px;
    border-top: 0.2px solid #c0c0c1;
    border-bottom: 0.2px solid #c0c0c1;
    background: white;
    
   
    cursor: pointer;
    
      
  }

[class^='#{$namespace}-collapse-content'] {

    background: white;
    color: $color-info;
    line-height: 1.769230769230769;
    width: fit-content;
    height: fit-content;

}

@keyframes slideMove{
  0%{ transform : translateY(100%); }
  100%{ transform : translateY(0%); }
}

.tas-collapse-enter-active {	//定义进入过渡生效时的状态
  height: 1px !important;
  width: 50em;
  transition:all 1s ease;
  overflow: hidden;
  animation: 1s slideMove;
}
.tas-collapse-enter-to {	//定义离开过渡的结束状态

  height: 100px !important;
  width: 50em;
  transition:all 1s ease;
  overflow: hidden;
}


.tas-collapse-leave-active{	//定义离开过渡生效时的状态
  height: 100px !important;
  width: 50em;
  transition:all 1s ease;
  overflow: hidden;
}



.tas-collapse-leave-to {	//定义离开过渡的结束状态

  height: 0px !important;
  width: 50em;
  transition:all 1s ease;
  overflow: hidden;
}
