@use 'mixins/mixins' as *;
@use 'common/var' as *;

button {
  cursor: pointer;
  border: none;
  outline: none;
}

@include b(datepicker) {
  width: 250px;
  cursor: pointer;
  @include b(picker) {
    position: absolute;
    cursor: pointer;
    width: 323px;
    height: 300px;
    color: #606266;
    border: 1px solid #e4e7ed;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
    z-index: 99;
    @include e(header) {
      cursor: pointer;
      padding: 5px;
      display: flex;
      justify-content: space-around;
    }
    @include e(weeks) {
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid #ddd;
      padding: 5px;
    }
    @include e(content) {
      display: flex;
      justify-content: space-around;
      margin-top: 5px;
      & > span {
        width: 30px;
        text-align: center;
        font-size: 14px;
      }
      & > span:hover {
        background-color: $color-primary;
        border-radius: 50%;
      }
    }
    @include e(items) {
    }
  }
  .tas-icon svg {
    width: 1em;
    height: 1em;
  }
  .isNotCurrentMonth {
    color: #ccc;
    pointer-events: none;
  }
  .isNotCurrentMonth:hover {
    background-color: #fff !important;
  }
  .isToday {
    border-radius: 50%;
    background-color: $color-primary;
    color: #fff;
    font-weight: 700;
  }
}

.tas-datepicker-transition-enter-active,
.tas-datepicker-transition-leave-active {
  opacity: 1;
  transition: all 0.5s ease-out;
}
.tas-datepicker-transition-enter-from,
.tas-datepicker-transition-leave-to {
  opacity: 0;
}
