@use 'sass:math';
@use 'common/var' as *;

.tass-dropdown {
  min-width: 160px;
  height: 40px;
  position: relative;
  margin: 10px 1px;
  display: inline-block;
  vertical-align: middle;
}

.tass-dropdown a:hover {
  text-decoration: none;
}

.tass-dropdown-link {
  color: #636b6f;
  min-width: 160px;
  padding: 10px 20px 10px 10px;
  text-transform: none;
  font-weight: 300;
  margin-bottom: 7px;
  border: 0;
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown-toggle:hover {
  background: #e1e1e1;
  cursor: pointer;
}

.tass-dropdown-button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DCDFE6;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  font-size: 14px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  border-radius: 4px;
}
.tass-drop-transition-leave-active, .tass-drop-transition-enter-active {
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, opacity .3s ease;
  transition: transform .3s ease, opacity .3s ease, -webkit-transform .3s ease;
  -webkit-transform-origin: left top;
  transform-origin: left top
}

.tass-drop-transition-enter, .tass-drop-transition-leave-active {
  opacity: 0;
  -webkit-transform: scaleY(.8);
  transform: scaleY(0.8);
}

.tass-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  padding: 10px 0;
  margin: 10px 0;
  background-color: #FFF;
  border: 1px solid #EBEEF5;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1)
}

.tass-dropdown-menu > li > a {
  padding: 10px 30px;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
}
.tass-dropdown-menu > li > a:hover {
  background: #efefef;
  color: #409FCB;
}
.tass-dropdown-menu > li {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 0;
}
.tass-dropdown-menu::after {
  content: '';
  position: absolute;
  top: 0;
  right: 97px;
  transform: translate(-50%,-50%) rotate(135deg);
  width: 9px;
  height: 9px;
  background: #ffff;
  border: 1px solid #EBEEF5;
  border-style: none none solid solid
}
.tass-dropdown-item {
  text-align: center;
  width: 100px;
}
