@use 'mixins/mixins' as *;
@use 'common/var' as *;
@font-face {
  font-family: 'tas-ui-icons'; /* Project id 3868664 */
  src: url('./fonts//iconfont.woff2') format('woff2'), url('./fonts/iconfont.woff') format('woff'),
    url('./fonts/iconfont.ttf') format('truetype');
}

[class^='#{$namespace}-icon-'] {
  font-family: 'tas-ui-icons' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tas-ui-icons {
  font-family: 'tas-ui-icons' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 箭头选中后的动画（与collapse相关）
.icon-select:before{
  transform: rotate(90deg);
  display: inline-block;
  transition: all 1s;
}

// 箭头未选中的动画（与collapse相关）
.icon-unselect:before{
  transform: rotate(0deg);
  display: inline-block;
  transition: all 1s;
}

.tas-icon-danger:before {
  content: '\e8e7';
}

.tas-icon-warning:before {
  content: '\e785';
}

.tas-icon-success:before {
  content: '\e680';
}

.tas-icon-info:before {
  content: '\e601';
}

.tas-icon-bubble:before {
  content: '\e616';
}

.tas-icon-chevrondown:before {
  content: '\e61c';
}

.tas-icon-chevronleft:before {
  content: '\e61e';
}

.tas-icon-chevronright:before {
  content: '\e620';
}

.tas-icon-chevronup:before {
  content: '\e622';
}

.tas-icon-code:before {
  content: '\e62b';
}

.tas-icon-cog:before {
  content: '\e62d';
}

.tas-icon-cross:before {
  content: '\e630';
}

.tas-icon-download:before {
  content: '\e638';
}

.tas-icon-home:before {
  content: '\e64f';
}

.tas-icon-lock:before {
  content: '\e661';
}

.tas-icon-magnifier:before {
  content: '\e663';
}

.tas-icon-pluscircle:before {
  content: '\e677';
}

.tas-icon-pushpin:before {
  content: '\e67f';
}

.tas-icon-textalignjustify:before {
  content: '\e696';
}

.tas-icon-thumbsdown:before {
  content: '\e69c';
}

.tas-icon-thumbsup:before {
  content: '\e69d';
}

.tas-icon-trash:before {
  content: '\e69f';
}
