@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(message) {
  width: fit-content;
  min-width: $message-min-width;
  height: 42px;
  line-height: 42px;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #ebeef5;
  position: fixed;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: $message-background-color;
  transition: opacity 0.3s, transform 0.4s, top 0.4s;
  overflow: hidden;
  padding: $message-padding;
  display: flex;
  align-items: center;
  z-index: 999;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  @include b(message__close-btn) {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: $message-close-size;
  }
  @include b(message__content) {
    padding-left: 10px;
  }
  @include m(success) {
    background: $message-success-font-color;
    color: mix($color-white, $color-success, 10%);
  }
  @include m(error) {
    background: $message-danger-font-color;
    color: mix($color-white, $color-danger, 10%);
  }
  @include m(warning) {
    background: $message-warning-font-color;
    color: mix($color-white, $color-warning, 10%);
  }
  @include m(info) {
    background: $message-info-font-color;
    color: mix($color-white, $color-info, 10%);
  }
  @include when(center) {
    justify-content: center;
  }
}

.tas-message-fade-enter-from,
.tas-message-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
