@use 'config' as *;
@forward 'config';

/* BEM
 -------------------------- */

/* 拼接命名空间 */
@mixin b($block) {
  $B: $namespace + '-' + $block !global;

  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  @at-root {
    #{& + $element-separator + $element} {
      @content;
    }
  }
}

@mixin m($modifier) {
  $selector: &;
  $currentSelector: '';
  @each $unit in $modifier {
    $currentSelector: #{$currentSelector +
      & +
      $modifier-separator +
      $unit +
      ','};
  }

  /* @at-root 表示将内容渲染到根部 而不是嵌套 */
  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}

// 状态
@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}
