// 导入主题文件
@import "_themes.scss";
// 获取颜色
@mixin themeify {
    @each $theme-name,
    $theme-map in $themes {
        $theme-map: $theme-map !global;
        [data-theme="#{$theme-name}"] & {
            @content;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

// 背景颜色
@mixin background-color($color) {
    @include themeify {
        background-color: themed($color);
    }
}

// 文字颜色
@mixin color($color) {
    @include themeify {
        color: themed($color);
    }
}

// 边框颜色
@mixin border($color, $data...) {
    @include themeify {
        border: themed($color) $data;
    }
}

@mixin border-bottom($color, $data...) {
    @include themeify {
        border-bottom: themed($color) $data;
    }
}

@mixin border-right($color, $data...) {
    @include themeify {
        border-right: themed($color) $data;
    }
}

@mixin border-left($color, $data...) {
    @include themeify {
        border-left: themed($color) $data;
    }
}